.ok_close-modal {
  width: 5.25rem;
  height: 1.875rem;
  background-color: #a4a4c9;
  color: #ff0000;
  border-radius: 0.3125rem;
}

.no_close-modal {
  margin-left: 1.25rem;
  width: 5.25rem;
  height: 1.875rem;
  background-color: #a4a4c9;
  color: #ff0000;
  border-radius: 0.3125rem;
}
