.add-cart {
  background-color: rgb(98, 98, 241);
  color: black;
  border-radius: 0.3125rem;
  cursor: pointer;
}

.add-to-cart{
  width: 5.25rem;
  height: 1.875rem;
  background-color: #a4a4c9;
  color: #ff0000;
  border-radius: 0.3125rem;
}

.cancel {
  margin-left: 1.25rem;
  width: 5.25rem;
  height: 1.875rem;
  background-color: #a4a4c9;
  color: #ff0000;
  border-radius: 0.3125rem;
}